canvas {
  background-color: black;
  display: block;
}

body {
  margin: 0;
  background: url("img/3. Background/Mesa de trabajo 1.png"), center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: lucky, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 64px;
  color: rgb(211, 231, 112);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    height: 20vh;
}

.btn-container{
    display: flex;
    align-items: center;

}

.btn{
    height: 50%;
    width: 100px;
    margin-inline: 30px;
    background-color: #5699f0;
    border: #2F68B5;
    border-radius: 33%;
    color: white;
    font-size: 20px;
    font-family: lucky, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "lucky";
  src: url("img/5.Font/luckiestGuy-regular.ttf");
}

@media only screen and (max-width: 760px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
  h1 {
    display: none;
  }
}
