canvas {
  background-color: #36b8d4;
  display: block;
}

body {
  margin: 0;
  background: #36b8d4 url("img/3. Background/Mesa de trabajo 1.png") center;
  background-repeat: no-repeat;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: lucky, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 64px;
  color: rgb(211, 231, 112);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  align-self: center;
}

h2 {
  font-size: 40px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000 !important;
  color: rgb(211, 231, 112);
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: rgb(211, 231, 112);
  text-decoration-thickness: 8px;
  text-decoration-skip: spaces; /** Safari **/
  text-decoration-skip-ink: spaces;
}

main {
  display: flex;
  flex-direction: column;
}

#movement {
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 20vh;
  width: 100vw;
}

/* #attacks{
    position: absolute;
    left: 10.5%;
    bottom: 90px;
    right: 10.5%;
    display: flex;
    justify-content: space-between;
    height: 20vh;
} */

#movement .btn-container button {
  background-color: unset;
}
.btn-container {
  display: flex;
  align-items: center;
}
.btn-container-top {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  justify-content: flex-end;
  margin-bottom: 10px;
  z-index: 4;
}

.btn-container-top > button {
  width: 48px;
  height: 48px;
  background-color: rgb(211, 231, 112);
}
.btn-container-top > button > img {
  margin-top: 5px;
  max-height: 32px;
}

#btn-start {
  align-self: center;
  width: 40%;
  background-color: unset;
}

button {
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 33%;
  color: white;
  font-size: 20px;
  margin-right: 8px;
  font-family: lucky, Arial, Helvetica, sans-serif;
}

button img {
  width: 100%;
  height: 100%;
}

#btn-poisen {
  background-color: green !important;
}

#btn-bubble {
  background-color: blue !important;
}

#btn-slap {
  background-color: grey !important;
}

.show-portable-only {
  display: none !important;
}

.show-desktop-only {
  display: flex !important;
}

.d-none {
  display: none !important;
}

/* //////////////  Instructions     ///////////////// */

article {
  text-align: center;
  background-color: rgba(0, 0, 255, 0.15);
  flex-direction: column;
  position: relative;
  top: 0;
  left: 10px;
  bottom: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000 !important;
}

.container {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  color: rgb(237, 255, 146);
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-inline: 10px;
  align-items: center;
}

.keys {
  color: hsl(180deg 51% 52%);
  background-color: rgb(21, 111, 153);
  border: solid 2px black;
  padding: 10px;
  border-radius: 15%;
  margin-right: 10px;
}

.button-container-top {
  position: absolute;
}

.hideLandscape {
  display: none;
}

@font-face {
  font-family: "lucky";
  src: url("img/5.Font/luckiestGuy-regular.ttf");
}

@media only screen and (max-width: 1300px) {
  .btn-container-top {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .show-portable-only {
    display: flex !important;
  }

  .show-desktop-only {
    display: none !important;
  }

  #btn-start {
    position: absolute;
    top: 150px;
  }

  article {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 255, 0.4);
    z-index: 3;
  }
}

@media only screen and (max-width: 760px) {
  .btn-container-top {
    top: 0px;
    right: 0px;
  }
  main,
  canvas {
    width: 100%;
  }

  .show-portable-only {
    display: flex !important;
  }
}

@media only screen and (max-height: 480px) {
  main,
  canvas {
    height: 100vh;
  }

  .show-portable-only {
    display: flex !important;
  }
}

@media (orientation: portrait) {
  body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  main {
    display: none;
  }

  #popUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 10;
    background-color: #2c96ae;
    width: 100vw;
  }

  h2 {
    align-self: center;
  }

  p {
    color: rgb(211, 231, 112);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000 !important;
    margin-inline: 20px;
  }
}
